.palette {
  display: inline-block;
  gap: 10px;
  flex-wrap: wrap;
}

.palette color {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border: 2px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
}
